<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}ERR404: NOT FOUND{% endblock %}</title>
    <!-- inherent root file -->
    {% extends 'root.html' %}
  </head>
  {% block body %}
  <body>
    <br />
    <div style="top: 50%" align="center">
      <h1>ERROR 404: NOT FOUND</h1>
      <br />Sorry, we didn't found what you are looking for at path:
      <span style="font-weight: 700">{{path}}</span>
    </div>
  </body>
  {% endblock %}
</html>
